<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

	RewriteCond %{HTTP_HOST} ^mulkifebrianto.tk$ [NC,OR]
	RewriteCond %{HTTP_HOST} ^www.mulkifebrianto.tk$
	RewriteCond %{REQUEST_URI} !folder/
	RewriteRule (.*) /public/$1 [L]
</IfModule>
